.credentials-info-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
}
.credential-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    min-height: 86px;
    margin: 0;
    padding: 24px 16px;
	background: white;
	border-bottom: 1px solid #d6d9dc;
	cursor: pointer;
	
}
.credential-list-item:hover {
	background: #fafbfc;
}
.credential-list-item .heading {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	overflow: hidden;
}
.credential-list-item .issuer-did {
	color: #535a61;
}

.credentials-details-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: left;
	padding: 1rem;
}
.credentials-details-wrapper .back-arrow {
	margin-bottom: .5rem;
	cursor: pointer;
}
.credentials-details-wrapper .credential-name {
	/* background: red; */
}

.credentials-details-wrapper .detail-row {
	font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
	padding: 0.4rem 0;
}

.credentials-details-wrapper .detail-row .name {
	font-size: 0.75rem;
	color: #535a61;
}
.credentials-details-wrapper .detail-row .value {
	font-size: 0.8rem;
	overflow-wrap: break-word;
	padding-top: 0.1rem;
}