.credential-row-detail {
	font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
	padding: 0.4rem 0;
}

.credential-row-detail .name {
	font-size: 0.75rem;
	color: #535a61;
}
.credential-row-detail .value {
	font-size: 0.8rem;
	overflow-wrap: break-word;
	padding-top: 0.1rem;
}